PCCWFoundation Example/PCCWFoundation Example/PCCWFoundation.framework/User.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://webserver.module.miniboss.com/" name="UserInterface" targetNamespace="http://webserver.module.miniboss.com/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://impl.webserver.module.miniboss.com/" xmlns="http://webserver.module.miniboss.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webserver.module.miniboss.com/">
            <xsd:element name="getOnlineRecord" type="getOnlineRecord"/>
            <xsd:complexType name="getOnlineRecord">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getOnlineRecordResponse" type="getOnlineRecordResponse"/>
            <xsd:complexType name="getOnlineRecordResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="renew" type="renew"/>
            <xsd:complexType name="renew">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="renewResponse" type="renewResponse"/>
            <xsd:complexType name="renewResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="openAccount" type="openAccount"/>
            <xsd:complexType name="openAccount">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="openAccountResponse" type="openAccountResponse"/>
            <xsd:complexType name="openAccountResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getUserInfo" type="getUserInfo"/>
            <xsd:complexType name="getUserInfo">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getUserInfoResponse" type="getUserInfoResponse"/>
            <xsd:complexType name="getUserInfoResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="delay" type="delay"/>
            <xsd:complexType name="delay">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="delayResponse" type="delayResponse"/>
            <xsd:complexType name="delayResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="change" type="change"/>
            <xsd:complexType name="change">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="changeResponse" type="changeResponse"/>
            <xsd:complexType name="changeResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getUserList" type="getUserList"/>
            <xsd:complexType name="getUserList">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getUserListResponse" type="getUserListResponse"/>
            <xsd:complexType name="getUserListResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="renewResponse">
        <wsdl:part element="ns1:renewResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getUserInfoResponse">
        <wsdl:part element="ns1:getUserInfoResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="change">
        <wsdl:part element="ns1:change" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="openAccount">
        <wsdl:part element="ns1:openAccount" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getUserList">
        <wsdl:part element="ns1:getUserList" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="renew">
        <wsdl:part element="ns1:renew" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getUserInfo">
        <wsdl:part element="ns1:getUserInfo" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="delayResponse">
        <wsdl:part element="ns1:delayResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="openAccountResponse">
        <wsdl:part element="ns1:openAccountResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getOnlineRecordResponse">
        <wsdl:part element="ns1:getOnlineRecordResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getOnlineRecord">
        <wsdl:part element="ns1:getOnlineRecord" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="delay">
        <wsdl:part element="ns1:delay" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getUserListResponse">
        <wsdl:part element="ns1:getUserListResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="changeResponse">
        <wsdl:part element="ns1:changeResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="UserInterface">
        <wsdl:operation name="getOnlineRecord">
            <wsdl:input message="ns1:getOnlineRecord" name="getOnlineRecord"></wsdl:input>
            <wsdl:output message="ns1:getOnlineRecordResponse" name="getOnlineRecordResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="renew">
            <wsdl:input message="ns1:renew" name="renew"></wsdl:input>
            <wsdl:output message="ns1:renewResponse" name="renewResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="openAccount">
            <wsdl:input message="ns1:openAccount" name="openAccount"></wsdl:input>
            <wsdl:output message="ns1:openAccountResponse" name="openAccountResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserInfo">
            <wsdl:input message="ns1:getUserInfo" name="getUserInfo"></wsdl:input>
            <wsdl:output message="ns1:getUserInfoResponse" name="getUserInfoResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delay">
            <wsdl:input message="ns1:delay" name="delay"></wsdl:input>
            <wsdl:output message="ns1:delayResponse" name="delayResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="change">
            <wsdl:input message="ns1:change" name="change"></wsdl:input>
            <wsdl:output message="ns1:changeResponse" name="changeResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUserList">
            <wsdl:input message="ns1:getUserList" name="getUserList"></wsdl:input>
            <wsdl:output message="ns1:getUserListResponse" name="getUserListResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>